# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/marioplan/node_modules
/marioplan/.pnp
.pnp.js

# testing
/marioplan/coverage

# production
/marioplan/build

# misc
/marioplan/.DS_Store
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/marioplan.firebaserc

npm-debug.log*
yarn-debug.log*
yarn-error.log*
